<div class="container">
    <div class="container" *ngIf="loggedIn; else notLoggedIn">
        <ul *ngIf="role ==='seller'">
            <!-- <li>
                <a class="nav-link active" aria-current="page" routerLink="productadd">Add New Product</a>
            </li> -->
            <app-sellerdashboard></app-sellerdashboard>
        </ul>
        <div *ngIf="role === 'customer'">
            <app-prodlist></app-prodlist>
        </div>
    </div>
    <ng-template #notLoggedIn>
        <div>
        <app-landingpage></app-landingpage>
        </div>
    </ng-template>
</div>