<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Product</h5>
            <a routerLink="../productadd" class="btn btn-primary">Add Product</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Products</h5>
            <a class="nav-link active" aria-current="page" routerLink="../myproducts/{userid}" class="btn btn-primary">My Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  