<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>User Details</h2>
        </div>
        <div class="card-body">
            <!-- <p class="card-text"><strong>User ID:</strong> {{ user.userId }}</p> -->
            <p class="card-text"><strong>User Name:</strong> {{ user.userName }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
            <p class="card-text"><strong>Status:</strong> {{ user.status }}</p>
            <p class="card-text"><strong>User Role:</strong> {{ user.userRole }}</p>
        </div>
        <div>
            <div class="container">
                <button (click)="navigateToEditUser(user.userId)">Edit User</button>
            </div>
        </div>
        
    </div>
</div>